
.row > [class^="col"]{
    background-color: #006CFA;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
}

.row .row > [class^="col"]{
    background-color: lightgreen;
    color: #fff;
    border: none;
    margin: 20px 0;
    border: 2px solid #006CFA;
}

/* Utils */
.mt50{
    margin-top: 50px;
}

.h-80{
    height: 80px;
    line-height: 80px;
}

.nested{
    background-color: lightgreen;
    height: 40px;
    line-height: 40px;
}

.h-160{
    height: 160px;
}